:root {
    --title-color: #FFFFFF;
    --title-color-second: #212121;
    --paragraph-color: #757575;
    --accent-color: #2196F3;
    --gap-between-section: 94px;
    --gap-in-section: 30px;
}

body{
    font-family: 'Roboto',
    sans-serif;
    background-color: #ffffff;
}

.section{
    padding: 94px 0;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* reset styles */
.link{
    text-decoration: none;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* container */
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* header */

.header{
    border-bottom: 1px solid #ECECEC;
}

.logo-header-first{
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 90px;
    /* padding-top: 25px;
    padding-bottom: 25px; */
}

.logo-header-second{
    color: #000000;
}

.header .container{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
}

.header-item:not(:last-child){
    margin-right: 50px;
}

.container .header-list{
    margin-left: auto;
}

.header-link{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color-second);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 256ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current{
    position: relative;
    color: var(--accent-color);
    
}

.header-link.current::after{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: color 256ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-link.contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icons {
    fill: currentColor;
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus,
.header-link:hover {
    color: var(--accent-color);
}

.header-icons:hover{
    color: var(--accent-color);
}



/* section hero */



.hero{
    padding: 200px 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-color);
    width: 696px;
    margin: var(--gap-in-section);
    margin: 0 auto;
    margin-bottom: var(--gap-in-section);
}

.hero-btn{
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
    border: transparent;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus{
    background-color: #188CE8;
}

/* section benefits */

.benefits-list{
    display: flex;
}

.benefits-item{
    width: calc((100% - 60px) / 3);
}

.benefits-item:not(:first-child){
    margin-left: var(--gap-in-section);
}

.benefits-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color-second);
    margin-bottom: 10px;
}

.benefits-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-color)
}
.benefits-wrapper{
    display: flex;
}

.benefits-wrapper-icons{
    display: flex;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--gap-in-section);
}

/* section about */

.about{
    padding-top: 0px;
}

.about-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color-second);
    margin-bottom: 50px;
}

.about-list{
    display: flex;
    
}

.about-item{
    width: calc((100% - 60px) / 3);
}

.about-item:not(:first-child){
    margin-left: var(--gap-in-section);
}

/* section team */

.team{
    background-color: #F5F4FA;
}

.team-list{
    display: flex;
   
}

.team-item{
width: calc((100% - 90px) / 4 );
}

.team-item:not(:first-child) {
    margin-left: var(--gap-in-section);
}


.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color-second);
    margin-bottom: 50px;
}

.team-item{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team-wrapper{
    padding-top: var(--gap-in-section);
    padding-bottom: var(--gap-in-section);
}

.team-after-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color-second);
    margin-bottom: 10px;
}

.team-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
    margin-bottom: 16px;
}

.team-soc-list{
    display: flex;
    justify-content: center;
    text-align: center;
}

.team-soc-links{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    
}

.team-soc-items:not(:last-child) {
    margin-right: 10px;
}

.team-soc-links{
border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), */
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-links:hover,
.team-soc-links:focus{
    background-color:var(--accent-color);
    border-radius: 50%;
    color: #FFFFFF;
}

.team-soc-icons{
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* clients */

.clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color-second);
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
}

.clients-item:not(:last-child) {
    margin-right: var(--gap-in-section);
}

.clients-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-link {
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus{
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-icons{
    fill: currentColor;
}



/* footer */

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address{
    font-style: normal;
}

.footer-item{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-item:not(:last-child){
    margin-bottom: 9px;
}

.footer-link-address{
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link{
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-address:hover, .footer-link-address:focus{
    color: var(--accent-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}


.logo-footer-first {
    display: block;
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.logo-footer-second {
    color: var(--title-color);
}

.footer-soc-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-wrapper{
    display: flex;
    align-items: baseline;
}

.footer-wrapper-two:not(:last-child) {
    margin-right: 70px;
}

.footer-soc-list{
    display: flex;
}
.footer-soc-items:not(:last-child) {
    margin-right: 10px;
}

.footer-soc-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);   
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-links:hover,
.footer-soc-links:focus{
    background-color: var(--accent-color);
}

.footer-soc-icons{
    fill: currentColor;
}

/* page portfolio */

.portfolio-list-first{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.porfolio-item-first:not(:first-child){
    margin-left: 8px;
}

.portfolio-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    border: transparent;
    color: var(--title-color-second);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:focus, .portfolio-btn:hover{
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);  
    color: var(--title-color);
}

.portfolio-list-second{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item-second{
    width: calc((100% - 60px) / 3);
}

.portfolio-item-second:not(:nth-child(3n + 1)){
    margin-left: var(--gap-in-section);
}

.portfolio-item-second:not(:nth-last-child(-n + 3)) {
    margin-bottom: var(--gap-in-section);
}

.portfolio-link{
    display: block;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-link:hover, 
.portfolio-link:focus {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-wrapper{
    padding: 20px 24px 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color-second);   
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

